@charset "UTF-8";

/* #1 기본설정 */

*{
    padding: 0;
    margin: 0;
}

ul, li{
    list-style: none;
}

.container{
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px 0;
}

article.card{
    width: 600px;
    margin: 20px auto;
    margin-bottom: 60px;
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
}

/* #2 Header 시작 */

article.card header{
    height: 40px;
    padding: 10px;
}

article.card header > div {
    display: inline-block;
    vertical-align: middle;
}

.circle-image{
    height: 100%; /* height: 40px; padding: 10px; 에 100% ,즉 article.card header */
    padding: 5px;
    box-sizing: border-box;
}

.circle-image > img {
    height: 100%;  /* height: 40px; padding: 5px; 에 100%  */
    border-radius: 50%;
}

.card-username {
    padding: 10px 0;
    font-weight: 900;
    line-height: 20px;
    margin-left: 5px;
    font-size: 13pt;
}

.option-more {
    float: right;
    padding : 7px;
}

button.transparent-button{
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer; /* 마우스 올려두면 손가락 모양으로 변함*/
}

/* Header 종료 */

/* #3 card-container */
.card-container{
    padding: 5px 10px;
}

/* #4 card-button */
.card-buttons{
    padding: 0 5px;
    margin-top: 5px;
}

.card-buttons > div{
    display: inline-block;
    margin-right: 10px;
    
}

.card-buttons > div.last-card-button {
    float: right;
    margin-right: 0;
}

/* #5 좋아요*/
.card-likes {
    padding: 5px;
    font-size: 13px;
    font-weight: 900;
  }
  /* #6 본문 */
  .card-content {
    padding: 2px 5px;
    font-size: 13px;
  }
  .card-content li > div {
    padding: 1px 0;
  }
  .card-content li > div > span {
    font-weight: 900;
  }
  
  .card-content li.comment > div > button {
    float: right;
  }
  
  .card-content li.comment > div > button > img {
    width: 12px;
    margin-right: 5px;
  }

/* #7 시간 */
.card-time{
    padding: 3px;
    font-size: 11px;
    color: #a0a0a0;
}

/* #8 footer */


footer.card-comment{
    position: relative; /* 기준이 되기 위한 절대위치 설정 */
    height: 55px;
    border-top: 1px solid #e0e0e0;
}   

footer.card-comment input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    padding: 0;
    color: #606060;
}

footer.card-comment > div{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) /* 수직정렬 */
}
/* 고정:static(전체) 절대:relative(기준이 되기 위한 절대위치 설정)(어떤 객체가 있던지 겹쳐서 나옴) 상대: absolute */

footer.card-comment > div > button {
    color: #0095f6;
    opacity: 0.5;
    padding: 10px 5px;
}

/* #9 캐러셀 */

article.card main .carousel{
    width: 100%;
    position: relative;  /* 절대위치의 기준을 잡아줌 */
}

article.card main .carousel > div{
    overflow: hidden;
}

article.card main .carousel ul{
    width: 10000px;  /* 가로 넓이를 충분히 확보하여 스크립트 구현시 활용(600px *4) */

}

article.card main .carousel ul > li{
    display: inline-block; /* 이미지 가로로 나열하기 */
}

/* 완성도 높이기 */
article.card main .carousel ul > li img{
    margin-right: -5.5px; /* inline-block 으로 생기는 공백 제거 */
    width: 600px;
}

.slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.slide img{
    opacity: 0.75;
}

.slide-right {
    right: 0;
}

.carousel footer {
    position: absolute;
    height: 20px;
    text-align: center;
    width: 100%;
    bottom: -20px;
}

.carousel footer div{
    width: 6px;
    height: 6px;
    background-color: #a8a8a8;
    display: inline-block;
    border-radius: 50%;
}

.carousel footer div.active{
    background-color: #0095f6;
}