@charset "UTF-8";

h1{
    font-size: 18px;
    font-weight: 900;
    color: rgb(48, 48, 48);
    line-height: 30px;
}

th{
    text-align: center;
    font-size: 16px;
    color: blue;
    font-weight: 600;
}

a, a:visited{
    text-decoration: none;
    color: aqua;
    font-weight: 800; /* bold */
}


img{
    width: 100px;
    height: auto;  /* 200px; */
}